<!DOCTYPE html>
<html>
<head>
    <title>Registrar Encomenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="titulo">Registrar Encomenda</h1><br><br><br>
    <form method="POST">

        <label class="lblPorteiro">Porteiro:</label><br><br>
        <select name="porteiro" id="porteiro">
            <option value="Isaias">Isaias</option>
            <option value="João Filipe">João Filipe</option>
            <option value="Alisso">Alisso</option>
            <option value="Felippe">Felippe</option>
        </select> <br><br><br>

        <label class="lblMorador">Nome Morador:</label><br><br>
        <input type="text" name="morador" required id="morador"><br><br><br>

        <label class="lblUnidade">Unidade:</label><br><br>
        <input type="text" name="unidade" required id="unidade"><br><br><br>

        <label class="lblPagina">Pagina:</label><br><br>
        <input type="text" name="pagina" required id="pagina"><br><br><br>

        <label class="lblData">Data:</label><br><br>
        <input type="date" name="data" required id="data" readonly><br><br><br>

        <label class="lblHora">Hora:</label><br><br>
        <input type="time" name="hora" required id="hora" readonly><br><br><br><br>

        <input id="regis" type="submit" value="Registrar" style="padding:5px 10px;">

        <script>
        // Pegar a data e hora atual
        const now = new Date();
        // Formatar a data para yyyy-mm-dd
        const today = now.toISOString().split('T')[0];
        document.getElementById('data').value = today;

        // Formatar a hora para hh:mm
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        document.getElementById('hora').value = `${hours}:${minutes}`;
        </script>
        <button class="voltar" onclick="window.location.href='/'" style="margin-top:10px;">Voltar</button>
    </form>
    
</body>
</html>
