<!DOCTYPE html>
<html>
<head>
    <title>Registrar Encomenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Registrar Encomenda</h1>
    <form method="POST">
        <label>Nome Porteiro:</label><br>
        <input type="text" name="porteiro" required><br><br>
        <label>Nome Morador</label><br>
        <input type="text" name="morador" required><br><br>
        <label>Pagina</label><br>
        <input type="text" name="pagina" required><br><br>
        <label>Data:</label><br>
        <input type="text" name="data" required><br><br>
        <label>Hora:</label><br>
        <input type="text" name="hora" required><br><br>
        <input type="submit" value="Registrar" style="padding:5px 10px;">
    </form>
    <button onclick="window.location.href='/'" style="margin-top:10px;">Voltar</button>
</body>
</html>
